{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Positions{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Cross Cutting Faculty Position</h1>
        {% if positions %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="20%"> Position-ID </th>
                  <th width="30%"> Position Name</th>
                  <th width="15%"> Delete </th>
                </tr>
              </thead>
              <tbody>
              {% for position in positions %}
                <tr>
                  <td> {{ position[0] }} </td>
                  <td> {{ position[1] }} </td>
                  <td>
                    <a href="{{ url_for('admin.delete_position', position_id=position[0]) }}">
                      <i class="fa fa-trash"></i> Delete 
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No positions have been added. </h3>
            <hr class="intro-divider">
        {% endif %}
          <a href="{{ url_for('admin.add_position') }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            Add Position
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}